@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('react-toastify/dist/ReactToastify.css');
@import url('nprogress/nprogress.css');
@import url('./Editor.css');
:root {
  --color-canvas-default: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

div[aria-hidden='true'] {
  visibility: hidden;
}

.dark .rich-text h1,
.dark .rich-text h2,
.dark .rich-text h3,
.dark .rich-text h4 {
  @apply text-color-bold-dark;
}

.rich-text a {
  @apply text-blue-500 hover:underline;
}
