@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('react-toastify/dist/ReactToastify.css');
@import url('./ckeditor.css');
@import url('nprogress/nprogress.css');

:root {
  --ck-color-base-background: black;
  --ck-color-link: #67b4fb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

div[aria-hidden='true'] {
  visibility: hidden;
}
