@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('react-toastify/dist/ReactToastify.css');
@import url('nprogress/nprogress.css');
@import url('./Editor.css');
@import url('./Markdown.css');

:root {
  --color-canvas-default: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
}

div[aria-hidden='true'] {
  visibility: hidden;
}
